<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <title>fotos</title>
</head>
<header>
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="./contacto.html">Sobre mi </a></li>
            <li><a href="./login.html">Iniciar sesion</a></li>
            <li><a href="./paz.html">Hola Paz</a></li>
        </ul>
        <div class="reloj-digital">
            <div id="fecha"></div>
            <div id="hora"></div>
        </div>
    </nav>
</header>
<body>
    <section class="main">
        <div style="margin: 100px;">
            <img style="height: 700px; width: 500px;" src="../multimedia/IMG_4889.JPEG" alt="">
            <h1 style="font-size: x-large; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Hola te extraño</h1>
        </div>
        
    </section>
    
</body>
</html>